* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: rgb(255, 251, 227);
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
	/* padding: 50px; */
}

h1 {
	font-size: 35px;
	margin-bottom: 25px;
	text-align: center;
}

h2 {
	margin-bottom: 20px;
	text-align: center;
}

p {
	margin-bottom: 20px;
}

.first {
	color: rgb(91, 91, 91);
}

.second {
	padding-left: 100px;
	padding-right: 100px;
	margin-bottom: 30px;
}

#your-name {
	background-color: rgb(242, 242, 242);
	border-radius: 10px;
	width: 400px;
	padding: 25px;
	margin-top: 30px;
}

input,
button {
	padding: 10px;
	font-size: 16px;
	border-radius: 5px;
}

a {
	color: rgb(63, 77, 196);
}

a:hover {
	color: darkblue;
}

.top {
	background-color: rgb(255, 255, 255);
	padding-top: 50px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 25px;
	margin-bottom: 25px;
}

#course-image {
	width: 300px;
	margin-top: 50px;
	margin-bottom: 50px;
}

#your-name h2 {
	color: rgb(53, 53, 53);
}

.footer {
	margin: 50px;
}
